
@{
    ViewData["Title"] = "About";
}

    <h3>
        Cilj ovog projekta bio je kreirati sustav upisa, uređivanja te ispisa iz baze podataka
        kreirane preko Entity framework-a
        Također jednostavno pretraživanje baze podataka Linq upita (upisom registacije)
        i ne dozvoljavanje poteza koje bi radili protiv logike programa ( ne dozvoljeno pustit
        preko 10 vozila na parking i unos krive registracije prilikom detaljnog pretraživanja)
    </h3>

    <a asp-action="Index">Povratak</a>

