
@{
    ViewData["Title"] = "Contact";
}

    <h3>
        Želite parking sustav?

        Kontaktirajte nas na:

        kontakt@dajProlaz.net
        01 4810 679
    </h3>

<a asp-action="Index">Povratak</a>