@{
        ViewData["Title"] = "Home Page";
}

<div align ="center">
    <h4>PARKING SUSTAV</h4>
</div>

<div>
    <h1>
        U ovom projektu ću demonstrirati sustav parkinga u ASP.Net Core MVC framework-a
    </h1>
    <h4>
        Cilj ovog projekta bio je kreirati sustav upisa, uređivanja te ispisa iz baze podataka
        kreirane u Entity framework-u
        Također jednostavno pretraživanje baze podataka Linq upitom (upisom registacije)
    </h4>
    
</div>

        
        
  