@{
        ViewData["Title"] = "Home Page";
}

<div align ="center">
    <h4>PARKING SUSTAV</h4>
</div>

<div>
    
    <h4>
       Pritisnite na 'Unos vozila u parking' da bi započeli rad s aplikacijom
    </h4>
    
</div>

        
        
  