@model PIN_Projekt.Models.Parking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Registracijska oznaka vozila
                <input asp-for="registracija" class="form-control" />
                <span asp-validation-for="registracija" class="text-danger"></span>
            </div>
            <div class="form-group">
                Model vozila
                <select name="model" input asp-for="model" class=" form-control">
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Convertible">Convertible</option>
                    <option value="Truck">Truck</option>
                    <option value="SUV">SUV</option>
                    <option value="Motorcycle">Motorcycle</option>
                </select>
            </div>
            <div class="form-group">
                Broj osoba u vozilu
                <input asp-for="brojOsoba" class="form-control" />
                <span asp-validation-for="brojOsoba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
