@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}




    <h2>POŠTOVANI, NA PARKINGU NIJE DOZVOLJENO VIŠE OD 10 VOZILA</h2>
    <form>
        
        <h4><a asp-action="Index">Povratak na unos vozila</a></h4>
    </form>