@model IEnumerable<PIN_Projekt.Models.Parking>


@{
    ViewData["Title"] = "Index";
}

<h5>Unos vozila u parking</h5>

<form asp-action="DetaljniPrikaz" method="post">
    <label>Pretraži po registracijskoj oznaci</label>
    <input type="text" name="RegOznake" />
    <input type="submit" value="Pretraži" />
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                Registracijska oznaka vozila
            </th>
            <th>
                Model vozila
            </th>

            <th>
                <a asp-action="Create">Unesi vozilo</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model) {
            <tr>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.registracija)</div>
                </td>
                <td>
                    <form>
                        <button class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Uredi</button>
                    </form>
                    <form>
                        <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Napustio</button>
                    </form>

                </td>

            </tr>
        }
    </tbody>
    
</table>

